.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.search {
    width: 30%;
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

ul li {
    font-size: 20px;
} 